/*
Theme Name:   Design System Wordpress Child Theme Emergency Info
Theme URI:    https://github.com/bcgov/design-system-wordpress-child-theme-emergency-info
Version:      1.4.0
Template:     design-system-wordpress-theme
*/