:root .editor-styles-wrapper,
body {

    /*
     * theme.json spacing for padding, margin and gap to match Block Theme.
     * See: https://github.com/bcgov/bcgov-wordpress-block-theme/blob/development/src/styles/public/general.scss#L83
     */
    --wp--preset--spacing--20: 1rem;
    --wp--preset--spacing--30: 2rem;
    --wp--preset--spacing--40: 3rem;
    --wp--preset--spacing--50: 4rem;
    --wp--preset--spacing--60: 5rem;
    --wp--preset--spacing--70: 6rem;
    --wp--preset--spacing--80: 7rem;
}

// Fix for lack of padding in the navigation mega-menu.
.wp-block-navigation__responsive-container {
    padding: var(--wp--preset--spacing--20) !important;
}
