<!-- wp:template-part {"slug":"header","theme":"design-system-wordpress-child-theme-emergency-info","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div
    class="wp-block-group"
    style="margin-top: 0; margin-bottom: 0"
>
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"2rem","left":"2rem","right":"2rem","bottom":"2rem"},"margin":{"bottom":"2rem"}}},"backgroundColor":"primary-brand","textColor":"background-white","layout":{"type":"constrained","justifyContent":"center"}} -->
    <div
        class="wp-block-group has-background-white-color has-primary-brand-background-color has-text-color has-background"
        style="margin-bottom: 2rem; padding-top: 2rem; padding-right: 2rem; padding-bottom: 2rem; padding-left: 2rem"
    >
        <!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|background-white"}}}},"textColor":"background-white"} -->
        <h1 class="wp-block-heading has-background-white-color has-text-color has-link-color">404</h1>
        <!-- /wp:heading -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"layout":{"type":"default"}} -->
    <div
        class="wp-block-group"
        style="margin-top: var(--wp--preset--spacing--30); margin-bottom: var(--wp--preset--spacing--30)"
    >
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group">
            <!-- wp:group {"className":"alignwide","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","right":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20"}}},"layout":{"type":"constrained"}} -->
            <div
                class="wp-block-group alignwide"
                style="padding-top: var(--wp--preset--spacing--20); padding-right: var(--wp--preset--spacing--20); padding-bottom: var(--wp--preset--spacing--20); padding-left: var(--wp--preset--spacing--20)"
            >
                <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"default"}} -->
                <div class="wp-block-group"
                    ><!-- wp:heading {"className":"is-style-heading-callout"} -->
                    <h2 class="wp-block-heading is-style-heading-callout">The page you are looking for cannot be found. </h2>
                    <!-- /wp:heading -->

                    <!-- wp:paragraph -->
                    <p>The page you're looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:paragraph -->
                    <p>Suggestions to help you find what you're looking for:</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:list -->
                    <ul class="wp-block-list"
                        ><!-- wp:list-item -->
                        <li>Check that the web URL has been entered correctly</li>
                        <!-- /wp:list-item -->

                        <!-- wp:list-item -->
                        <li>Go to our&nbsp;<a href="https://www2.gov.bc.ca/gov/content/home">Home Page</a>&nbsp;and browse through our topics for the information you want</li>
                        <!-- /wp:list-item -->

                        <!-- wp:list-item -->
                        <li>Look for&nbsp;<a href="https://www2.gov.bc.ca/gov/content/home/services-a-z">Services</a>&nbsp;or&nbsp;<a href="https://www2.gov.bc.ca/gov/content/home/forms-a-z">Forms</a></li>
                        <!-- /wp:list-item -->
                    </ul>
                    <!-- /wp:list -->

                    <!-- wp:paragraph -->
                    <p>Alternatively, you can contact the&nbsp;<a href="https://www2.gov.bc.ca/StaticWebResources/static/gov3/html/contact-form.html">Service BC Contact Centre</a>&nbsp;for general enquires Monday through Friday from 7:30am to 5pm Pacific Time. </p>
                    <!-- /wp:paragraph -->

                    <!-- wp:list -->
                    <ul class="wp-block-list"
                        ><!-- wp:list-item -->
                        <li>Vancouver:&nbsp;<a href="tel:6046602421">604 660-2421</a></li>
                        <!-- /wp:list-item -->

                        <!-- wp:list-item -->
                        <li>Victoria:&nbsp;<a href="tel:2503876121">250 387-6121</a></li>
                        <!-- /wp:list-item -->

                        <!-- wp:list-item -->
                        <li>Toll-free within Canada and USA:&nbsp;<a href="tel:18006637867">1 800 663-7867</a></li>
                        <!-- /wp:list-item -->

                        <!-- wp:list-item -->
                        <li>Outside of Canada/USA:&nbsp;<a href="tel:6046602421">604 660-2421</a></li>
                        <!-- /wp:list-item -->
                    </ul>
                    <!-- /wp:list -->

                    <!-- wp:paragraph -->
                    <p>Telephone Device for the Deaf (TDD)</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:list -->
                    <ul class="wp-block-list"
                        ><!-- wp:list-item -->
                        <li>Across B.C.:&nbsp;<a href="tel:711">711</a></li>
                        <!-- /wp:list-item -->
                    </ul>
                    <!-- /wp:list -->

                    <!-- wp:paragraph -->
                    <p>If you would like to email us,&nbsp;please contact&nbsp;<a href="mailto:servicebc@gov.bc.ca">servicebc@gov.bc.ca</a>.</p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"design-system-wordpress-child-theme-emergency-info","area":"footer"} /-->
