<!-- wp:template-part {"slug":"header","theme":"design-system-wordpress-child-theme-emergency-info","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0">
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
    <div class="wp-block-group" style="margin-top:0;margin-bottom:0">
        <!-- wp:group {"style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem","left":"2rem","right":"2rem"},"margin":{"bottom":"3rem"}}},"backgroundColor":"primary-brand","textColor":"background-white","layout":{"type":"constrained","justifyContent":"center"}} -->
        <div class="wp-block-group has-background-white-color has-primary-brand-background-color has-text-color has-background" style="margin-bottom:3rem;padding-top:2rem;padding-right:2rem;padding-bottom:2rem;padding-left:2rem">
        <!-- wp:post-title {"level":1,"textColor":"background-white"} /-->
        <!-- wp:post-excerpt /-->
    </div>
    <!-- /wp:group -->
    <!-- wp:post-content {"layout":{"type":"default"}} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"design-system-wordpress-child-theme-emergency-info","area":"footer"} /-->   

