<!-- wp:template-part {"slug":"header","theme":"design-system-wordpress-child-theme-emergency-info","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div
    class="wp-block-group"
    style="margin-top: 0; margin-bottom: 0"
>
    <!-- wp:template-part {"slug":"top-banner","theme":"design-system-wordpress-child-theme-emergency-info","area":"top-banner"} /-->

    <!-- wp:pattern {"slug":"design-system-wordpress-child-theme-emergency-info/page-social-media-collection-notice"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"design-system-wordpress-child-theme-emergency-info","area":"footer"} /-->
