<!-- wp:template-part {"slug":"header","theme":"design-system-wordpress-child-theme-emergency-info","area":"header"} /-->

<!-- wp:group {"backgroundColor":"support-gray-01", "style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div
    class="wp-block-group has-support-gray-01-background-color"
    style="margin-top: 0; margin-bottom: 0"
>
    <!-- wp:pattern {"slug":"design-system-wordpress-child-theme-emergency-info/taxonomy-hazard_type"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"design-system-wordpress-child-theme-emergency-info","area":"footer"} /-->
